<h1>Twittr</h1>
<p>Welcome {{user.username}}, email: {{user.email}}</p>
<p><a href="/logout">Logout</a></p>
<form action="addPost" class="messageBody" method="post">
  <!-- //create hidden input for parsing user_id = it can match with the post -->
    <input type="hidden" name="user_id" value="{{user.id}}">
    <textarea class="wideInput" name="body"></textarea><br>
    <input type="submit" value="Add post">
</form>
<div class="messages">
    {{#each posts}}
      <hr class="line">
      <p class="date">{{this.created_at}}</p>
      <p>{{this.body}}</p>
    {{/each}}
</div>
